<?xml version="1.0" encoding="utf-8"?>
<config>
    <modules>
        <Bubble_QueryGrid>
            <version>1.0.0</version>
        </Bubble_QueryGrid>
    </modules>
    <global>
        <resources>
            <bubble_qgrid_setup>
                <setup>
                    <module>Bubble_QueryGrid</module>
                    <class>Mage_Eav_Model_Entity_Setup</class>
                </setup>
            </bubble_qgrid_setup>
        </resources>
        <blocks>
            <bubble_qgrid>
                <class>Bubble_QueryGrid_Block</class>
            </bubble_qgrid>
        </blocks>
        <helpers>
            <bubble_qgrid>
                <class>Bubble_QueryGrid_Helper</class>
            </bubble_qgrid>
        </helpers>
        <models>
            <bubble_qgrid>
                <class>Bubble_QueryGrid_Model</class>
                <resourceModel>bubble_qgrid_resource</resourceModel>
            </bubble_qgrid>
            <bubble_qgrid_resource>
                <class>Bubble_QueryGrid_Model_Resource</class>
                <entities>
                    <query><table>bubble_query_grid</table></query>
                </entities>
            </bubble_qgrid_resource>
        </models>
    </global>
    <adminhtml>
        <layout>
            <updates>
                <bubble_qgrid>
                    <file>bubble/qgrid.xml</file>
                </bubble_qgrid>
            </updates>
        </layout>
        <translate>
            <modules>
                <Bubble_QueryGrid>
                    <files>
                        <default>Bubble_QueryGrid.csv</default>
                    </files>
                </Bubble_QueryGrid>
            </modules>
        </translate>
    </adminhtml>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Bubble_QueryGrid before="Mage_Adminhtml">Bubble_QueryGrid_Adminhtml</Bubble_QueryGrid>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
</config>